* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  overflow: visible;
  display: block; 
}
.carrusel{
  margin-top: 5vh;

}
.logo{
  width: 20rem;
  height: 13rem;
  padding: 0 0 0 0;
}


ol li {
  display: flex;
  border-radius: 10px; }

section {
  display: inline-block;
   }

.section_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: center; }

.section_texto {
  font-style: italic;
  font-size: 16px; }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }



